body {
  /* text-align: center; */
}

.card {
  width: 800px;
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0px 2px 4px #aaa;
}

.card:hover {
  opacity: 0.6;
}

.card-area {
  width: 800px;
  height: 240px;
  display: inline-block;
  overflow: hidden;
  padding: 0px;
}

.card-media {
  width: 240px;
  margin-left: 0px;
  padding-left: 0px;
  float: left;
}

.shop-image {
  height: 240px;
  margin-left: 0px;
}

ul {
  list-style: none;
  text-align: left;
  margin-left: 200px;
}

#text-button {
  margin: 30px 30px;
}