.App {
  text-align: center;
}

header {
  background-image: url("./nomigazo.jpg");
  background-size: cover;
  background-position: top;
  height: 500px;
}

header h1 {
  color: white;
  padding-top: 50px;
  margin: 0;
  font-size: 70px;
}

header h3 {
  color: white;
}
